// colors
$color-blueVio: #7d4ea9f5;
$color-lightOrange: #ff982de0;
$main-text-color: white;
$about-background-color: #39363b;
$feature-background-color: #735f81e0;
$card-front:  #1E1E1E;
$card-back: linear-gradient(to right bottom, rgba(238, 143, 0, 0.7), rgba(255, 0, 0, 0.7)) ; 
// $card-back: linear-gradient(to right bottom, #ff982d, #7d4ea9) ; 

$main-background-color:linear-gradient(to right bottom, rgba(172, 83, 28, 0.7), rgba(95 ,36 ,156, 0.62));
$background-grad-orange:  linear-gradient(to right bottom, rgba(238, 143, 0, 0.7), rgba(255, 0, 0, 0.7));
$shadow-orange: 5px 6px 5px rgba(255, 127, 80, 0.3rem);

//grid
$grid-width: 114rem;
$spacing-vertical: 7rem;
$spacing-vertical-s: 5rem;
$spacing-horizontal: 6rem;